<div class="book-search" th:fragment="book-search">

    <!-- 글쓰기 버튼 -->
    <div class="buttons">
        <a href="/post/upload">글쓰기</a>
    </div>

    <table>
        <!-- 리스트 헤더 -->
        <tr>
            <th class="title">사진</td>
            <th class="user">제목</td>
            <th class="date">작가</td>
            <th class="date">출판사</td>
            <th class="date">출간일</td>
        </tr>

        <!-- 리스트 목록 -->
        <tr th:each="element : ${bookList}">

            <td class="image"><img th:src="${element.image}" alt="no image"></td>
            <td class="title" th:text="${element.title}">책 제목</td>
            <td class="author" th:text="${element.author}">작가</td>
            <td class="publisher" th:text="${element.publisher}">출판사</td>
            <td class="pubdate" th:text="${element.pubdate}">YYYY-MM-DD</td>
        </tr>
    </table>

    <div class = "pageBar">
        <a class="prev" th:if="${pageBar.prev}" th:href="@{/book(query=${query}, page=${pageBar.start} - 1 )}"> < </a>
        <th:block th:each="number : ${#numbers.sequence(pageBar.start, pageBar.end)}">
            <a class="number" th:classappend="${number == pageBar.current ? 'current' : '' }" th:text="${number}" th:href="@{/book(query=${query}, page=${number})}"></a>
        </th:block>
        <a class="next" th:if="${pageBar.next}" th:href="@{/book(query=${query}, page=${pageBar.end} + 1)}"> > </a>
    </div>

</div>