
<link rel="stylesheet" href="../../static/css/book-search.css">
<div class = "pageBar" th:fragment="page-bar">

  <a class="prev" th:if="${pageBar.prev}" th:href="${pageBar.url} + ${pageBar.start - 1}"> < </a>
  <th:block th:each="number : ${#numbers.sequence(pageBar.start, pageBar.end)}">
    <a class="number" th:classappend="${number == pageBar.current ? 'current' : '' }" th:text="${number}" th:href="${pageBar.url} + ${number}"></a>
  </th:block>
  <a class="next" th:if="${pageBar.next}" th:href="${pageBar.url} + ${pageBar.end + 1}"> > </a>

</div>