<div class="post-list" th:fragment="post-list">

    <table>
        <!-- 리스트 헤더 -->
        <thead>
            <tr>
                <th class="image">사진</td>
                <th class="title">제목</td>
                <th class="user">작성자</td>
                <th class="date">날짜</td>
                <th class="date">조회수</td>
            </tr>
        </thead>

        <!-- 리스트 목록 -->
        <tbody>
            <tr th:each="element : ${postList}">

                <td class="image"><img th:src="${element.image}" alt="no image"></td>
                <!-- 게시글 제목 -->
                <td class="title">
                    <a th:href="@{/posts/{postId}(postId=${element.postId})}">
                        <span th:text="${element.title}">게시글 제목</span>
                    </a>
                    <span style="color:red" th:text="|[${element.commentCount}]|">[0]</span>
                </td>
                <td class="user" th:text="${element.nickname}">사용자 이름</td>
                <td class="date" th:text="${element.uploadDate}">2000년 2월 2일</td>
                <td class="views" th:text="${element.views}">0</td>
            </tr>
        </tbody>

    </table>

    <div class = "pageBar">
        <a class="prev" th:if="${pageBar.prev}" th:href="@{/posts(page=${pageBar.start} - 1 )}"> < </a>
        <th:block th:each="number : ${#numbers.sequence(pageBar.start, pageBar.end)}">
            <a class="number" th:classappend="${number == pageBar.current ? 'current' : '' }" th:text="${number}" th:href="@{/posts(page=${number})}"></a>
        </th:block>
        <a class="next" th:if="${pageBar.next}" th:href="@{/posts(page=${pageBar.end} + 1)}"> > </a>
    </div>

</div>