<div class = "search_bar" th:fragment="search_bar(type)">

  <form th:if="${type == 'post'}" th:action="@{/posts}" method="get">
    <select name="search">
      <option value="title">제목</option>
      <option value="book-title">책 제목</option>
      <option value="nickname">닉네임</option>
    </select>
    <input type="text" name="query" placeholder="검색">
    <input type="submit" value="검색">
  </form>

  <form th:if="${type == 'book'}" th:action="@{/books}" method="get">
    <input type="text" name="query" placeholder="검색">
    <input type="submit" value="검색">
  </form>

</div>