<link rel="stylesheet" href="../../static/css/search-bar.css">
<div class = "search-bar" th:fragment="search-bar(url,select)">
    <form th:action="${url}" method="get">
        <select name="search" th:if="${select}">
            <option value="title">게시글 이름</option>
            <option value="nickname">작성자 이름</option>
            <option value="book">책 이름</option>
        </select>
        <input type="text" name="query" placeholder="검색" th:value="${query}">
        <input type="submit" value="검색">
    </form>
</div>