
<div class = "side" th:fragment="side">

  <!-- 로그인이 안되어 있을 때 -->
  <div class ="login" th:if="${!login}">
    <form action="/login" method="post">
      <input type="text" name = "userId" placeholder="아이디">
      <input type="text" name = "password" placeholder="비밀번호">
      <input type="submit" value="로그인">
    </form>
    <a href = "/users/register">회원가입</a>
  </div>

  <!-- 로그인이 되어 있을 때 -->
  <div class ="login" th:if="${login}">

    <!-- 사용자 이름 -->
    <div class="status">
      <span th:text="${nickname}">상원</span>님, 환영합니다.
    </div>

    <!-- 로그아웃 버튼 -->
    <form action="/logout" method="post">
      <input type="submit" value="로그아웃">
    </form>
  </div>

  <!-- 임시 박스 -->
  <div class = "box"></div>
</div>