
.book-search {
    display: flex;
    flex-direction: column;
}

.book-search > form {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.book-search > form > * {
    margin: 2px;
}

/* book-search - table */

.book-search > table {
    width: 100%;
    border-collapse : collapse;
}

.book-search > table  tr > * {
    padding: 10px;
    text-align: center;
}

.book-search > table tr > .image {
    width: 10%;
}

.book-search > table tr > .title {
    width: 35%;
}

.book-search > table tr > .author {
    width: 20%;
}

.book-search > table tr > .pubdate {
    width: 20%;
}

.book-search > table tr > .upload-button {
    width: 15%;
}

.book-search > table > tbody > tr > .image > img {
    width: 100%;
}

.book-search > table > tbody > tr .title {
    text-align: left;
}

.book-search > table > thead > tr > th {
    height: 50px;
    border-bottom: 1px solid green;
    border-top: 3px solid green;
}

.book-search > table > tbody > tr > td {
    height: 30px;
    border-bottom: 1px solid grey;

}


/* list - pageBar */

.book-search > .pageBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.book-search > .pageBar > * {
    margin: 5px;
    color: black;
}

.book-search > .pageBar > .number.current {
    font-weight: bold;
}