body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    width:  100%;
}

header > h1 {
    text-align: center;
}

header > .box {
    height: 50px;
    width:  100%;
    background-color: green;
    margin-bottom: 20px;
    
}

main {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 1250px;
}

/* side */

.side {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.side > * {
    margin: 5px;
    border: 2px solid gray;
    padding: 15px;
}

.login {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    
}

.login > a {
    text-align: center;
}

.login > form {
    display: flex;
    flex-direction: column;
}

.login > form > input {
    margin: 2px;
}

.login > form > input[type=text] {
    height: 40px;
}

.login > form > input[type=submit] {
    height: 30px;
    background-color: green;
    color: white;
}

.login > .status {
    padding: 10px;
}

.side > .box {
    height: 400px;
}


/* list */

main > .list {
    flex: 3 1 0;
    margin: 20px;

}

main > .list > table {
    width: 100%;
    border-collapse : collapse;

}

main > .list > table > tbody > tr > td.title {
    width: 70%;
    text-align: left;
}

main > .list > table > tbody > tr > td.user {
    width: 15%;
    text-align: center;
}

main > .list > table > tbody > tr > td.date {
    width: 15%;
    text-align: center;
}

main > .list > table > tbody > tr > th {
    height: 50px;
    border-bottom: 1px solid green;
    border-top: 3px solid green;
}

main > .list > table > tbody > tr > td {
    height: 30px;
    border-bottom: 1px solid grey;

}

main > .list > table > tbody td {
    padding: 10px;
}

main > .list > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

main > .list > .buttons > a {
    color: green;
    border: 2px solid green;
    padding: 2px 7px 2px 7px;
    margin: 5px;
}

/* footer */

footer {
    width:  100%;
    text-align: center;
    
}



