* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > a > img {
    width: 300px;
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width:  1250px;
    background-color: green;
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    gap:30px;
}

nav > a {
    font-size: 20px;
    color: white;
    text-decoration-line: none;
    font-weight: bold;
}


main {
    display: flex;
    flex-direction: row;
    width: 1250px;
}

section {
    width: 75%;
    padding: 20px;
}

aside {
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

aside > .box {
    width: 100%;
    padding: 10px;
    border: gray 1px solid;
}

aside > .box.user {
    display: flex;
    flex-direction: column;
    height: 180px;
}

aside > .box.user > form {
    display: flex;
    flex-direction: column;
}

aside > .box.user > form.login {
    gap: 5px;
}

aside > .box.user > .welcome_sentence {
    padding: 20px;
    height: 80px;
}

aside > .box.user > form.login > input[type=text] {
    height: 40px;
}

aside > .box.user > form.login > input[type=password] {
    height: 40px;
}

aside > .box.user > form > input[type=submit] {
    height: 30px;
    font-weight: bold;
}
aside > .box.user > form.login > input[type=submit] {
    color: white;
    background-color: green;
}

aside > .box.user > form.register > input[type=submit] {
    color: green;
    background-color: white;
}

aside > .box.user > form.my_page > input[type=submit] {
    color: white;
    background-color: green;
}

aside > .box.user > form.logout > input[type=submit] {
    color: red;
    background-color: white;
}

aside > .box.most_view {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside > .box.most_view > .banner {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

aside > .box.most_view > a > .title {
    color: black;
}


footer {
    width: 1250px;
    padding: 20px;
    text-align: center;
    border-top: gray 1px solid;

}





