.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main > .side {
    width: 25%;
    padding: 20px;
}

.main > .post-list {
    width: 75%;
    padding: 20px;
}

.main > .book-search {
    width: 75%;
    padding: 20px;
}

