.pageBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.pageBar > * {
    margin: 5px;
    color: black;
}

pageBar > .number.current {
    font-weight: bold;
}