
.post-list {
    display: flex;
    flex-direction: column;
}

/* list - table */

.post-list > table {
    width: 100%;
    border-collapse : collapse;
}

.post-list > table  tr > * {
    padding: 10px;
    text-align: center;
}

.post-list > table tr > .image {
    width: 10%;
}

.post-list > table tr > .title {
    width: 35%;
}

.post-list > table tr > .user {
    width: 20%;
}

.post-list > table tr > .date {
    width: 20%;
}

.post-list > table tr > .views {
    width: 15%;
}

.post-list > table > tbody > tr > .image > img {
    width: 100%;
}

.post-list > table > tbody > tr .title {
    text-align: left;
}

.post-list > table > tbody > tr .title > a {
    color: black;
}

.post-list > table > thead > tr > th {
    height: 50px;
    border-bottom: 1px solid green;
    border-top: 3px solid green;
}

.post-list > table > tbody > tr > td {
    height: 30px;
    border-bottom: 1px solid grey;

}



/* list - pageBar */

.post-list > .pageBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.post-list > .pageBar > * {
    margin: 5px;
    color: black;
}

.post-list > .pageBar > .number.current {
    font-weight: bold;
}