


/* header */

.post > .header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.post > .header > .title {
    font-size: 30px;
}

.post > .header > .info1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.post > .header > .info1 > * {
    margin: 5px;
}

.post > .header > .info2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.post > .header > .info2 > * {
    margin: 5px;
}

/* content */

.post > .content {
    padding: 10px;
}

.post > .book {
    margin: 50px 200px 50px 200px;
}

/* comment */

.post > .comment > .header {
    padding: 10px;
    border-bottom: 3px solid green;
}

.post > .comment > .list > .element {
    margin: 10px;
}

.post > .comment > .list > .element > .header {
    display: flex;
    flex-direction: row;
}

.post > .comment > .list > .element > .header > * {
    margin: 5px;
}

.post > .comment > .list > .element > .content {
    padding: 20px;
    background-color: rgb(223, 223, 223);
}

.post > .comment > .input {
    padding: 10px;
}

.post > .comment > .input > form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.post > .comment > .input > form > textarea {
    width: 100%;
    height: 60px;
}

.post > .comment > .input > form > input[type="submit"] {
    width: 10%;
    margin: 10px;
}