
.post-list {
    display: flex;
    flex-direction: column;
}

/* list - table */

.post-list > table {
    width: 100%;
    border-collapse : collapse;
}

.post-list > table > tbody > tr .title {
    width: 55%;
    text-align: left;
}

.post-list > table > tbody > tr .title > a {
    color: black;
}

.post-list > table > tbody > tr .user {
    width: 15%;
    text-align: center;
}

.post-list > table > tbody > tr .date {
    width: 20%;
    text-align: center;
}

.post-list > table > tbody > tr .views {
    width: 5%;
    text-align: center;
}

.post-list > table > tbody > tr > th {
    height: 50px;
    border-bottom: 1px solid green;
    border-top: 3px solid green;
}

.post-list > table > tbody > tr > td {
    height: 30px;
    border-bottom: 1px solid grey;

}

.post-list > table > tbody td {
    padding: 10px;
}

/* list - pageBar */

.post-list > .pageBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.post-list > .pageBar > * {
    margin: 5px;
    color: black;
}

.post-list > .pageBar > .number.current {
    font-weight: bold;
}