.post-form {
    border: 1px solid grey;
    margin: 10px 50px 10px 50px;
}

.post-form > * {
    margin: 20px;
}

.post-form > form {
    display: flex;
    flex-direction: column;
}

.post-form > form > input[type="text"] {
    height: 40px;
    font-size: 20px;
}

.post-form > form > * {
    margin: 5px;
}

.post-form > form > input[type="submit"] {
    height: 40px;
    font-size: 20px;
    background-color: green;
    color: white;
}


