.search-bar > form {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.search-bar > form > * {
    margin: 2px;
}

.search-bar > form > input[type=text] {
    width: 200px;
}

