<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> wead - 독서 커뮤니티 </title>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
</head>
<body>

    <header>
        <h1> Wead - 독서 커뮤니티 </h1>
        <div class="box"></div>
    </header>

    <main th:fragment="main">

        <div class="list">

            <div class="buttons">
                <a href="/board/upload">글쓰기</a>
            </div>

            <table>
                <tr>
                    <th class="title">제목</td>
                    <th class="user">작성자</td>
                    <th class="date">날짜</td>
                </tr>
                <tr th:each="element : ${list}">
                    <td class="title">
                        <a th:href="@{/board/{boardId}(boardId=${element.boardId})}">
                            <span th:text="${element.title}">게시글 제목</span>
                        </a>
                        <span style="color:red" th:text="|[${element.commentNumber}]|">[3]</span>
                    </td>
                    <td class="user" th:text="${element.nickname}">김우직</td>
                    <td class="date" th:text="${element.uploadDate}">2024-02-02</td>
                </tr>
            </table>

        </div>


        <div class = "side">

            <div class ="login" th:if="${user == null}">
                <form action="/login" method="post">
                    <input type="text" name = "userId" placeholder="아이디">
                    <input type="text" name = "password" placeholder="비밀번호">
                    <input type="submit" value="로그인">
                </form>
                <a href = "/register">회원가입</a>
            </div>

            <div class ="login" th:if="${user != null}">
                <div class="status">
                    <span th:text="${user.nickname}">상원</span>님, 환영합니다.
                </div>
                <form action="/logout" method="post">
                    <input type="submit" value="로그아웃">
                </form>
            </div>

            <div class = "box"></div>
        </div>
        </div>

    </main>

    <footer>
            made by 상원
    </footer>
    
</body>
</html>