<div th:replace="~{fragment/common.html::common(~{::section})}">
  <section>
    <div class="post_read">

      <div class = "header">
        <div class="title" th:text="${post.title}">게시글 제목</div>
        <div class="info1">
          <div th:text="${user.nickname}">작성자 이름</div>
          <div>|</div>
          <div th:text="${post.uploadDate}">업로드 날짜</div>
        </div>
        <div class="info2">
          <div> 조회 <span th:text="${post.views}">수</span> </div>
          <form th:if="${loginStatus != null && post.userId == loginStatus.userId}"
                th:action="@{/posts/{postId}/update(postId = ${post.postId})}" method="get">
            <input type="submit" value="수정">
          </form>
          <form th:if="${loginStatus != null && post.userId == loginStatus.userId}"
                th:action="@{/posts/{postId}/delete(postId = ${post.postId})}" method="post">
            <input type="submit" style="color: red" value="삭제">
          </form>
        </div>
      </div>

      <div class = "content" th:text="${post.content}">게시글 내용</div>
      <div class="book">
        <img th:src="${book.image}" alt="no image">
        <div class="info">
          <div class="title" th:text="${book.title}">책 제목</div>
          <div class="author" th:text="${book.author}">작가</div>
        </div>
      </div>

      <div class = "comment_list">
        <div class = "header">
          전체 댓글 <span style="color:red" th:text="${#lists.size(comment.list)}">1</span>개
        </div>

        <div class="comment" th:each="comment : ${comment.list}">
          <div class ="header">
            <div class="nickname" th:text="${comment.nickname}">상원</div>
            <div>|</div>
            <div class="uploadDate" th:text="${comment.uploadDate}">yyyy년 MM월 dd일</div>
            <form th:if="${loginStatus != null && comment.userId == loginStatus.userId}"
                  th:action="@{/comments/{commentId}/delete(commentId=${comment.commentId})}" method="post">
              <input type="submit" style="color: red" value="삭제">
            </form>
          </div>
          <div class="content" th:text="${comment.content}">댓글 내용</div>
        </div>

        <div th:replace="~{fragment/page_bar.html::page_bar(${comment.pageBar})}"></div>

        <div class="input" th:if="${loginStatus != null}">
          <form th:action="@{/posts/{postId}/comments/upload(postId = ${post.postId})}" method="post">
            <textarea name="content" cols="100" rows="3"></textarea>
            <input type="submit" value="등록">
          </form>
        </div>
      </div>

    </div>
  </section>
</div>
