<div th:replace="~{fragment/common.html::common(~{::section})}">
    <section>
        <div class="register">

            <div class="banner">
                <div class="title">Wead에 오신걸 환영합니다.</div>
                <div class="sentence">Wead는 당신의 독서 생활을 응원합니다.</div>
            </div>

            <form th:action="@{/users/register}" th:object="${userRegisterParam}" method="post">

                <div class="question">아이디를 입력해주세요.</div>
                <input th:field="*{userId}" type="text" name="userId" placeholder="아이디">
                <ul>
                    <li th:each="err : ${#fields.errors('userId')}" th:text="${err}" class="error"></li>
                </ul>

                <div class="question">
                    비밀번호를 입력해주세요
                </div>
                <input th:field="*{password}" type="text" name="password" placeholder="비밀번호">
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error"></li>
                </ul>

                <div class="question">
                    닉네임을 입력해주세요.
                </div>
                <input th:field="*{nickname}" type="text" name="nickname" placeholder="닉네임">
                <ul>
                    <li th:each="err : ${#fields.errors('nickname')}" th:text="${err}" class="error"></li>
                </ul>
                <div class="submit">
                    <input type="submit" value="회원가입">
                </div>
            </form>
        </div>
    </section>
</div>
